/* Reset CSS
 * --------------------------------------- */
 * {
   box-sizing: border-box;
 }

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

a {
  text-decoration:none;
}

img {
    border: 0;
}

ol,ul {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}

/* Global
 * --------------------------------------- */

header,
.content {
  font-size: 3vh;
  font-family: 'Cuprum', sans-serif;
  color: #1a1a1a;
}

a {
  color: #1a1a1a;
}

a:hover {
  color: #3399ff;
}

/* Nav bar
 * --------------------------------------- */

 header {
   position: fixed;
   width: 100%;
   height: 8%;
   border-bottom: 1px solid #1a1a1a;
   background-color: rgba(255, 255, 255, 0.5);
   z-index: 2;
   box-shadow: 0 1px 4px #1a1a1a;
 }

.card {
  margin-left: 2%;
  float: left;
}

.card h1 {
  font-family: 'Rubik Mono One', sans-serif;
  border-bottom: 1px solid grey;
}

#menu {
  float:right;
  margin: 1.5vh 2vw;
}

#menu li {
  display:inline-block;
  float: left;
  border-left: 3px solid #1a1a1a;
}

#menu li:first-child {
  border-left: 0;
}

#menu li a {
  display: block;
  margin: 5px 20px 5px 20px;
  font-weight: bold;
}

#menu li.active a {
  color: #3399ff;
}

/* Homepage
 * --------------------------------------- */

 #section0 {
   background-image: url("img/laptop.jpg");
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
 }

 #section0 .content{
   position: absolute;
   width: 100%;
   height: 72%;
   top: 8%;
   bottom: 20%;
 }

.motto {
  float: right;
  width: 45%;
  height: 100%;
  padding: 10vh 0 10vh 10vh;
  color: #ffffff;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
}

.techlist{
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
  padding: 1.5vw 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 -1px 4px #1a1a1a;
}

.tech {
  float: left;
  width: 14.28%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.html5logo {
  background-image: url("img/html5.svg");
}

.css3logo {
  background-image: url("img/css3.svg");
}

.sasslogo {
  background-image: url("img/sass.svg");
}

.bemlogo {
  background-image: url("img/bem.svg");
}

.javascriptlogo {
  background-image: url("img/javascript.svg");
}

.jquerylogo {
  background-image: url("img/jquery.svg");
}

.gimplogo {
  background-image: url("img/gimp.svg");
}

/* Portfolio
 * --------------------------------------- */

 #section1 {
   background-color: #f4f3f1;
 }

#section1 .content{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 92%;
}

.cardsgallery {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  margin-left: 5%;
}

.galleryitem {
  box-shadow: 0 2px 10px black;
  width: 30%;
  margin: 1vw;
  background-color: #ffffff;
}

.galleryitem__image {
  float: left;
  width: 40%;
  border-right: 1px solid #1a1a1a;
}

.item1 {
  background-image: url("img/portfolio-personal-blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.galleryitem__image:after {
  content: "";
  display: block;
  padding-bottom: 150%;
}

.galleryitem__text {
  margin-top: 10%;
  padding: 0 10%;
  width: 60%;
  float: right;
  text-align: left;
}

.galleryitem__text a {
  color: #3399ff;
}

.coffee {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 25%;
  background-image: url("img/coffeecup.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.coffee:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
/* Contacts
 * --------------------------------------- */

 #section2 {
   background-color: #fdfdfd;
   background-position: left;
   background-repeat: no-repeat;
   background-size: contain;
 }

#section2 .content{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 92%;
}

.phonebox {
  width: 45%;
  float: left;
}

#phone {
  width: 100%;
  margin-top: 17%;
}

.contacts {
  width: 50%;
  padding: 15% 0 10% 0;
  float: right;
  font-size: 5vh;
}
