@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 5;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'FontAwesome';
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 1.5vw;
    opacity: .85;
    color: #1a1a1a;
    transform: rotate(0.001deg);
}

.slick-prev
{
    top: 10%;
    left: 32vw;
}

.slick-prev:before
{
    content: "\f053";
}

.slick-next
{
    top: 10%;
    left: 49.5vw;
}

.slick-next:before
{
    content: "\f054";
}

/* Dots */
.slick-dots
{
    position: absolute;
    display: block;
    top: 8%;
    left: 37.75vw;
    display: block;
    width: 7.5vw;
    height: 1.5vw;
    padding: 0;
    margin: 0;
    list-style: none;
}

.slick-dots li
{
    position: relative;
    display: block;
    float: left;
    width: 1.5vw;
    height: 1.5vw;
    margin: 0 0.5vw;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button
{
    font-size: 1.5vw;
    line-height: 1.5vw;
    display: block;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: .85;
    color: #1a1a1a;
    content: "\f111";
}

.slick-dots li button:before
{
    font-family: 'FontAwesome';
    font-size: 1.5vw;
    line-height: 1.5vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5vw;
    height: 1.5vw;
    content: "\f10c";
    opacity: .85;
    color: #1a1a1a;    
    transform: rotate(0.001deg);
}

.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #1a1a1a;
    content: "\f111";
}
